.s-detail{
  position: relative;
}
.s-detail{
  .ban{
    height: auto;
    width: 100%;
    img{
      width: 100%;
      height: auto;
    }
  }
}
.cont{
  margin: .3rem 0;
  padding: 0 .375rem;
  .name{
    font-size: .45rem;
  }
  .price{
    text-align: center;
    font-size: .5rem;
    color: red;
  }
  .goods-counter{
    height: .75rem;
    a{
      display: inline-block;
      height: .75rem;
      line-height: .75rem;
      font-size: .3rem;
      padding: 0 .8rem;
      border: 1px solid #eee;
    }
    .goods-num{
      height: .75rem;
      line-height: .75rem;
      width: 1.4rem;
      text-align: center;
      font-size: .4rem;
      border: 1px solid #eee;
    }
  }
}
.bot{
  position: fixed;
  bottom: 0;
  z-index: 100;
  height: 50px;
  width:16rem;
  max-width: 16rem;
  min-width: 320px;
  margin:0 auto;
  color: #fff;
  border-top: 1px solid #eee;
  background: #ffffff;
  .add-cart{
    float: right;
    height: 34px;
    margin-top: 8px;
    margin-right: .5rem;
    padding: 0 15px;
    line-height: 34px;
    font-size: .5rem;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
  }
}
